<!DOCTYPE html>

{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap-4.0.0-alpha.6.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/channel.js' %}"></script>
</head>
<body>


{% include "core/_navbar.html" %}

<div class="container">

    {% block body %}
    {% endblock %}

</div>

{% block extra_scripts %}
{% endblock %}
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{% static "core/js/jquery-3.1.1.slim.min.js" %}"></script>
<script src="{% static "core/js/tether.min.js" %}"></script>
<script src="{% static "core/js/bootstrap.min.js" %}"></script>

</body>
</html>

