{% extends 'core/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1>
                Welcome to <strong>{{ room.name }}</strong>
            </h1>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" id="chat-username"/>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Members
                <small>(<span id="chat-member-count">{{ room.member_count }}</span>)</small>
            </h2>
            <ul class="list-group" id="chat-members">
            </ul>
        </div>

        <div class="col-md-6">
            <h2>Messages</h2>
            <ul class="list-group" id="chat-messages">
                {% for msg in room.messages.all %}
                    <li class="list-group-item"><strong>{{ msg.sender.username }}</strong>&nbsp;|&nbsp;{{ msg.text }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-3">

            <h2>Send message</h2>

            <form>
                <input type="hidden" value="{{ room.name }}" id="room-name">
                <div class="form-group">
                    <label for="chat-form">Message</label>
                    <input class="form-control" id="chat-form"/>
                </div>
                <button id="chat-submit" type="submit" class="btn btn-outline-primary btn-block">Submit</button>
            </form>

            <hr/>
        </div>

        <div class="col-md-12 align-self-end">
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}
