{% extends 'core/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <h1>
                Welcome to <strong>{{ room.name }}</strong>
            </h1>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <input type="hidden" class="form-control" id="chat-username"/>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Members
                <small>(<span id="chat-member-count">{{ room.member_count }}</span>)</small>
            </h2>
            <ul class="list-group" id="chat-members">
            </ul>
        </div>

        <div class="col-md-9">
            <h2>Messages</h2>
            <ul class="list-group" id="chat-messages">
                {% for msg in room.messages.all %}
                    <li class="list-group-item"><strong>{{ msg.sender.username }}</strong>&nbsp;|&nbsp;{{ msg.text }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-faded">
        <form class="form-inline my-2 my-lg-0" id="message-form">
            <input type="hidden" value="{{ room.name }}" id="room-name">

            <div class="input-group mb-2 mr-sm-2 mb-sm-0 w-100">
                <div class="form-group w-100">
                    <input class="form-control" id="chat-form" placeholder="Your message (press enter to send)."/>
                </div>
            </div>

        </form>
    </nav>
{% endblock %}

{% block extra_scripts %}
    {% load static from staticfiles %}
    <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}
